src/main/resources/Service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
  xmlns:tns="http://minameddelanden.gov.se/Service"
  xmlns:service2="http://minameddelanden.gov.se/schema/Service/v2"
  xmlns:service3="http://minameddelanden.gov.se/schema/Service/v3"
  xmlns:common3="http://minameddelanden.gov.se/schema/Common/v3"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  name="Service"
  targetNamespace="http://minameddelanden.gov.se/Service">

  <wsdl:documentation>Version 3.0</wsdl:documentation>

  <wsdl:types>
    <xsd:schema
      targetNamespace="http://minameddelanden.gov.se/Service"
      xmlns:service="http://minameddelanden.gov.se/schema/Service"
      xmlns:message="http://minameddelanden.gov.se/schema/Message"
      xmlns:c="http://minameddelanden.gov.se/schema/Common"
      xmlns:notification="http://minameddelanden.gov.se/schema/Notification">

      <xsd:import schemaLocation="schema/Common.xsd" namespace="http://minameddelanden.gov.se/schema/Common"/>
      <xsd:import schemaLocation="schema/Service.xsd" namespace="http://minameddelanden.gov.se/schema/Service"/>
      <xsd:import schemaLocation="schema/Message.xsd" namespace="http://minameddelanden.gov.se/schema/Message"/>
      <xsd:import schemaLocation="schema/Notification.xsd" namespace="http://minameddelanden.gov.se/schema/Notification"/>

      <xsd:element name="notifyResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="notification:NotifyResult" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="notifyFault" type="c:ExceptionInformation"/>
      <xsd:element name="deliverForward">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="arg0" type="message:ForwardDelivery" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deliverForwardResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="service:DeliveryResult" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deliverForwardFault" type="c:ExceptionInformation"/>
      <xsd:element name="deliverSecureResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="service:DeliveryResult" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deliverSecureFault" type="c:ExceptionInformation"/>
    </xsd:schema>

    <xsd:schema>
      <xsd:import namespace="http://minameddelanden.gov.se/schema/Service/v2" schemaLocation="schema/v2/Service.xsd"/>
      <xsd:import namespace="http://minameddelanden.gov.se/schema/Service/v3" schemaLocation="schema/v3/Service.xsd"/>
      <xsd:import namespace="http://minameddelanden.gov.se/schema/Common/v3" schemaLocation="schema/v3/Common.xsd"/>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="notifyRequestV2">
    <wsdl:part name="parameters" element="service2:notify"/>
  </wsdl:message>
  <wsdl:message name="notifyRequestV3">
    <wsdl:part name="parameters" element="service3:notify"/>
  </wsdl:message>
  <wsdl:message name="notifyResponse">
    <wsdl:part name="parameters" element="tns:notifyResponse"/>
  </wsdl:message>
  <wsdl:message name="notifyResponseV3">
    <wsdl:part name="parameters" element="service3:notifyResponse"/>
  </wsdl:message>
  <wsdl:message name="notifyFault">
    <wsdl:part name="fault" element="tns:notifyFault"/>
  </wsdl:message>
  <wsdl:message name="deliverSecureRequestV2">
    <wsdl:part name="parameters" element="service2:deliverSecure"/>
  </wsdl:message>
  <wsdl:message name="deliverSecureRequestV3">
    <wsdl:part name="parameters" element="service3:deliverSecure"/>
  </wsdl:message>
  <wsdl:message name="deliverSecureResponse">
    <wsdl:part name="parameters" element="tns:deliverSecureResponse"/>
  </wsdl:message>
  <wsdl:message name="deliverSecureResponseV3">
    <wsdl:part name="parameters" element="service3:deliverSecureResponse"/>
  </wsdl:message>
  <wsdl:message name="deliverSecureFault">
    <wsdl:part name="fault" element="tns:deliverSecureFault"/>
  </wsdl:message>
  <wsdl:message name="deliverForwardRequest">
    <wsdl:part name="parameters" element="tns:deliverForward"/>
  </wsdl:message>
  <wsdl:message name="deliverForwardRequestV3">
    <wsdl:part name="parameters" element="service3:deliverForward"/>
  </wsdl:message>
  <wsdl:message name="deliverForwardResponse">
    <wsdl:part name="parameters" element="tns:deliverForwardResponse"/>
  </wsdl:message>
  <wsdl:message name="deliverForwardResponseV3">
    <wsdl:part name="parameters" element="service3:deliverForwardResponse"/>
  </wsdl:message>
  <wsdl:message name="deliverForwardFault">
    <wsdl:part name="fault" element="tns:deliverForwardFault"/>
  </wsdl:message>
  <wsdl:message name="applicationFaultV3">
    <wsdl:part name="fault" element="common3:applicationFault"/>
  </wsdl:message>


  <wsdl:portType name="ServicePort-v2">
    <wsdl:operation name="notify">
      <wsdl:input message="tns:notifyRequestV2"/>
      <wsdl:output message="tns:notifyResponse"/>
      <wsdl:fault name="fault" message="tns:notifyFault"/>
    </wsdl:operation>
    <wsdl:operation name="deliverSecure">
      <wsdl:input message="tns:deliverSecureRequestV2"/>
      <wsdl:output message="tns:deliverSecureResponse"/>
      <wsdl:fault name="fault" message="tns:deliverSecureFault"/>
    </wsdl:operation>
    <wsdl:operation name="deliverForward">
      <wsdl:input message="tns:deliverForwardRequest"/>
      <wsdl:output message="tns:deliverForwardResponse"/>
      <wsdl:fault name="fault" message="tns:deliverForwardFault"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:portType name="ServicePort-v3">
    <wsdl:operation name="notify">
      <wsdl:input message="tns:notifyRequestV3"/>
      <wsdl:output message="tns:notifyResponseV3"/>
      <wsdl:fault name="fault" message="tns:applicationFaultV3"/>
    </wsdl:operation>
    <wsdl:operation name="deliverSecure">
      <wsdl:input message="tns:deliverSecureRequestV3"/>
      <wsdl:output message="tns:deliverSecureResponseV3"/>
      <wsdl:fault name="fault" message="tns:applicationFaultV3"/>
    </wsdl:operation>
    <wsdl:operation name="deliverForward">
      <wsdl:input message="tns:deliverForwardRequestV3"/>
      <wsdl:output message="tns:deliverForwardResponseV3"/>
      <wsdl:fault name="fault" message="tns:applicationFaultV3"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="ServiceBinding-v2" type="tns:ServicePort-v2">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="notify">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deliverSecure">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deliverForward">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="ServiceBinding-v3" type="tns:ServicePort-v3">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="notify">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deliverSecure">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deliverForward">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="Service">
    <wsdl:port name="ServicePort-v2" binding="tns:ServiceBinding-v2">
      <soap:address location="http://minameddelanden.gov.se/ServiceV2"/>
    </wsdl:port>
    <wsdl:port name="ServicePort-v3" binding="tns:ServiceBinding-v3">
      <soap:address location="http://minameddelanden.gov.se/Service/v3"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
