common/src/main/resources/wsdl/Recipient.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
  xmlns:tns="http://minameddelanden.gov.se/Recipient"
  xmlns:recipientv2="http://minameddelanden.gov.se/schema/Recipient/v2"
  xmlns:recipientv3="http://minameddelanden.gov.se/schema/Recipient/v3"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:commonv3="http://minameddelanden.gov.se/schema/Common/v3"
  name="RecipientDefinitions"
  targetNamespace="http://minameddelanden.gov.se/Recipient">

  <wsdl:documentation>Version 3.0</wsdl:documentation>

  <wsdl:types>
    <xsd:schema
      xmlns:c="http://minameddelanden.gov.se/schema/Common"
      xmlns:r="http://minameddelanden.gov.se/schema/Recipient"
      xmlns:s="http://minameddelanden.gov.se/schema/Sender"
      xmlns:authority="http://minameddelanden.gov.se/schema/Authority"
      xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
      targetNamespace="http://minameddelanden.gov.se/Recipient">

      <xsd:import namespace="http://minameddelanden.gov.se/schema/Common" schemaLocation="schema/Common.xsd"/>
      <xsd:import namespace="http://minameddelanden.gov.se/schema/Recipient" schemaLocation="schema/Recipient.xsd"/>
      <xsd:import namespace="http://minameddelanden.gov.se/schema/Authority" schemaLocation="schema/Authority.xsd"/>
      <xsd:import namespace="http://minameddelanden.gov.se/schema/Sender" schemaLocation="schema/Sender.xsd"/>

      <xsd:element name="getAccountPreferences">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="arg0" type="r:RecipientId" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="arg1" type="authority:UserIdentity" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAccountPreferencesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="r:AccountPreferences" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAccountPreferencesFault" type="c:ExceptionInformation"/>
      <xsd:element name="storeAccountPreferences">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="arg0" type="r:RecipientId" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="arg1" type="authority:UserIdentity" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="arg2" type="r:AccountPreferences" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="storeAccountPreferencesResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="storeAccountPreferencesFault" type="c:ExceptionInformation"/>
      <xsd:element name="isReachable">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="arg0" type="s:OrganizationNumber" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="arg1" type="r:RecipientId" minOccurs="0" maxOccurs="1000"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="isReachableResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="r:ReachabilityStatus" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="isReachableFault" type="c:ExceptionInformation"/>
      <xsd:element name="getAllReachableAccounts">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="arg0" type="s:OrganizationNumber" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="arg1" type="xsd:int" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllReachableAccountsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="r:AccountContainer" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllReachableAccountsFault" type="c:ExceptionInformation"/>
      <xsd:element name="getAllRegisteredAccounts">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="arg0" type="xsd:int" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllRegisteredAccountsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="r:AccountContainer" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllRegisteredAccountsFault" type="c:ExceptionInformation"/>
      <xsd:element name="isRegistered">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="arg0" type="r:RecipientId" minOccurs="1" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="isRegisteredResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="r:AccountStatus" minOccurs="1" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="isRegisteredFault" type="c:ExceptionInformation"/>
      <xsd:element name="register">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="arg0" type="r:AccountRequest" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="arg1" type="r:AccountTypes" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="arg2" type="r:EMailAdress" minOccurs="0" maxOccurs="10"/>
            <xsd:element name="arg3" type="c:SignatureData" minOccurs="1" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="registerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="authority:SignatureAuthorizationResult" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="registerFault" type="c:ExceptionInformation"/>
      <xsd:element name="deregister">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="arg0" type="r:AccountRequest" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="arg1" type="r:EMailAdress" minOccurs="0" maxOccurs="10"/>
            <xsd:element name="arg2" type="c:SignatureData" minOccurs="1" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deregisterResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="authority:SignatureAuthorizationResult" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deregisterFault" type="c:ExceptionInformation"/>
      <xsd:element name="getPendingAccountRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="arg0" type="r:RecipientId" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="arg1" type="authority:UserIdentity" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getPendingAccountRequestResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="r:PendingAccountRequest" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getPendingAccountRequestFault" type="c:ExceptionInformation"/>
      <xsd:element name="deletePendingAccountRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="arg0" type="r:RecipientId" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="arg1" type="authority:UserIdentity" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deletePendingAccountRequestResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deletePendingAccountRequestFault" type="c:ExceptionInformation"/>
      <xsd:element name="changeServiceSupplier">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="arg0" type="r:RecipientId" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="arg1" type="authority:UserIdentity" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="arg2" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="changeServiceSupplierResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="r:ServiceSupplier" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="changeServiceSupplierFault" type="c:ExceptionInformation"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://minameddelanden.gov.se/schema/Recipient/v2" schemaLocation="schema/v2/Recipient.xsd"/>
      <xsd:import namespace="http://minameddelanden.gov.se/schema/Recipient/v3" schemaLocation="schema/v3/Recipient.xsd"/>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="getAccountPreferencesRequest">
    <wsdl:part name="parameters" element="tns:getAccountPreferences"/>
  </wsdl:message>
  <wsdl:message name="getAccountPreferencesResponse">
    <wsdl:part name="parameters" element="tns:getAccountPreferencesResponse"/>
  </wsdl:message>
  <wsdl:message name="getAccountPreferencesFault">
    <wsdl:part name="fault" element="tns:getAccountPreferencesFault"/>
  </wsdl:message>
  <wsdl:message name="storeAccountPreferencesFault">
    <wsdl:part name="fault" element="tns:storeAccountPreferencesFault"/>
  </wsdl:message>
  <wsdl:message name="isReachableRequest">
    <wsdl:part name="parameters" element="tns:isReachable"/>
  </wsdl:message>
  <wsdl:message name="isReachableResponse">
    <wsdl:part name="parameters" element="tns:isReachableResponse"/>
  </wsdl:message>
  <wsdl:message name="isReachableFault">
    <wsdl:part name="fault" element="tns:isReachableFault"/>
  </wsdl:message>
  <wsdl:message name="getAllReachableAccountsRequest">
    <wsdl:part name="parameters" element="tns:getAllReachableAccounts"/>
  </wsdl:message>
  <wsdl:message name="getAllReachableAccountsResponse">
    <wsdl:part name="parameters" element="tns:getAllReachableAccountsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllReachableAccountsFault">
    <wsdl:part name="fault" element="tns:getAllReachableAccountsFault"/>
  </wsdl:message>
  <wsdl:message name="getAllRegisteredAccountsRequest">
    <wsdl:part name="parameters" element="tns:getAllRegisteredAccounts"/>
  </wsdl:message>
  <wsdl:message name="getAllRegisteredAccountsResponse">
    <wsdl:part name="parameters" element="tns:getAllRegisteredAccountsResponse"/>
  </wsdl:message>
  <wsdl:message name="getAllRegisteredAccountsFault">
    <wsdl:part name="fault" element="tns:getAllRegisteredAccountsFault"/>
  </wsdl:message>
  <wsdl:message name="isRegisteredRequest">
    <wsdl:part name="parameters" element="tns:isRegistered"/>
  </wsdl:message>
  <wsdl:message name="isRegisteredResponse">
    <wsdl:part name="parameters" element="tns:isRegisteredResponse"/>
  </wsdl:message>
  <wsdl:message name="isRegisteredFault">
    <wsdl:part name="fault" element="tns:isRegisteredFault"/>
  </wsdl:message>
  <wsdl:message name="registerRequest">
    <wsdl:part name="parameters" element="tns:register"/>
  </wsdl:message>
  <wsdl:message name="registerResponse">
    <wsdl:part name="parameters" element="tns:registerResponse"/>
  </wsdl:message>
  <wsdl:message name="registerFault">
    <wsdl:part name="fault" element="tns:registerFault"/>
  </wsdl:message>
  <wsdl:message name="deregisterRequest">
    <wsdl:part name="parameters" element="tns:deregister"/>
  </wsdl:message>
  <wsdl:message name="deregisterResponse">
    <wsdl:part name="parameters" element="tns:deregisterResponse"/>
  </wsdl:message>
  <wsdl:message name="deregisterFault">
    <wsdl:part name="fault" element="tns:deregisterFault"/>
  </wsdl:message>
  <wsdl:message name="getPendingAccountRequestRequest">
    <wsdl:part name="parameters" element="tns:getPendingAccountRequest"/>
  </wsdl:message>
  <wsdl:message name="getPendingAccountRequestResponse">
    <wsdl:part name="parameters" element="tns:getPendingAccountRequestResponse"/>
  </wsdl:message>
  <wsdl:message name="getPendingAccountRequestFault">
    <wsdl:part name="fault" element="tns:getPendingAccountRequestFault"/>
  </wsdl:message>
  <wsdl:message name="deletePendingAccountRequestRequest">
    <wsdl:part name="parameters" element="tns:deletePendingAccountRequest"/>
  </wsdl:message>
  <wsdl:message name="deletePendingAccountRequestResponse">
    <wsdl:part name="parameters" element="tns:deletePendingAccountRequestResponse"/>
  </wsdl:message>
  <wsdl:message name="deletePendingAccountRequestFault">
    <wsdl:part name="fault" element="tns:deletePendingAccountRequestFault"/>
  </wsdl:message>
  <wsdl:message name="changeServiceSupplierFault">
    <wsdl:part name="fault" element="tns:changeServiceSupplierFault"/>
  </wsdl:message>
  <wsdl:message name="getPendingAccountPreferencesRequestV2">
    <wsdl:part name="parameters" element="recipientv2:getPendingAccountPreferences"/>
  </wsdl:message>
  <wsdl:message name="getPendingAccountPreferencesResponseV2">
    <wsdl:part name="parameters" element="recipientv2:getPendingAccountPreferencesResponse"/>
  </wsdl:message>
  <wsdl:message name="getPendingAccountPreferencesFault">
    <wsdl:part name="fault" element="recipientv2:getPendingAccountPreferencesFault"/>
  </wsdl:message>
  <wsdl:message name="deletePendingAccountPreferencesRequestV2">
    <wsdl:part name="parameters" element="recipientv2:deletePendingAccountPreferences"/>
  </wsdl:message>
  <wsdl:message name="deletePendingAccountPreferencesResponseV2">
    <wsdl:part name="parameters" element="recipientv2:deletePendingAccountPreferencesResponse"/>
  </wsdl:message>
  <wsdl:message name="deletePendingAccountPreferencesFault">
    <wsdl:part name="fault" element="recipientv2:deletePendingAccountPreferencesFault"/>
  </wsdl:message>
  <wsdl:message name="storeAccountPreferencesRequestV2">
    <wsdl:part name="parameters" element="recipientv2:storeAccountPreferences"/>
  </wsdl:message>
  <wsdl:message name="storeAccountPreferencesResponseV2">
    <wsdl:part name="parameters" element="recipientv2:storeAccountPreferencesResponse"/>
  </wsdl:message>
  <wsdl:message name="changeServiceSupplierRequestV2">
    <wsdl:part name="parameters" element="recipientv2:changeServiceSupplier"/>
  </wsdl:message>
  <wsdl:message name="changeServiceSupplierResponseV2">
    <wsdl:part name="parameters" element="recipientv2:changeServiceSupplierResponse"/>
  </wsdl:message>
  <wsdl:message name="getPendingAccountRequestRequestV3">
    <wsdl:part name="parameters" element="recipientv3:getPendingAccountRequest"/>
  </wsdl:message>
  <wsdl:message name="getPendingAccountRequestResponseV3">
    <wsdl:part name="parameters" element="recipientv3:getPendingAccountRequestResponse"/>
  </wsdl:message>
  <wsdl:message name="getPendingChangeServiceSupplierRequestV2">
    <wsdl:part name="parameters" element="recipientv2:getPendingChangeServiceSupplier"/>
  </wsdl:message>
  <wsdl:message name="getPendingChangeServiceSupplierResponseV2">
    <wsdl:part name="parameters" element="recipientv2:getPendingChangeServiceSupplierResponse"/>
  </wsdl:message>
  <wsdl:message name="getPendingChangeServiceSupplierFault">
    <wsdl:part name="fault" element="recipientv2:getPendingChangeServiceSupplierFault"/>
  </wsdl:message>
  <wsdl:message name="deletePendingChangeServiceSupplierRequestV2">
    <wsdl:part name="parameters" element="recipientv2:deletePendingChangeServiceSupplier"/>
  </wsdl:message>
  <wsdl:message name="deletePendingChangeServiceSupplierResponseV2">
    <wsdl:part name="parameters" element="recipientv2:deletePendingChangeServiceSupplierResponse"/>
  </wsdl:message>
  <wsdl:message name="deletePendingChangeServiceSupplierFault">
    <wsdl:part name="fault" element="recipientv2:deletePendingChangeServiceSupplierFault"/>
  </wsdl:message>
  <wsdl:message name="isAuthorizedSignerRequest">
    <wsdl:part name="parameters" element="recipientv2:isAuthorizedSigner"/>
  </wsdl:message>
  <wsdl:message name="isAuthorizedSignerResponse">
    <wsdl:part name="parameters" element="recipientv2:isAuthorizedSignerResponse"/>
  </wsdl:message>
  <wsdl:message name="isAuthorizedSignerFault">
    <wsdl:part name="fault" element="recipientv2:isAuthorizedSignerFault"/>
  </wsdl:message>
  <wsdl:message name="isReachableRequestV3">
    <wsdl:part name="parameters" element="recipientv3:isReachable"/>
  </wsdl:message>
  <wsdl:message name="isReachableResponseV3">
    <wsdl:part name="parameters" element="recipientv3:isReachableResponse"/>
  </wsdl:message>
  <wsdl:message name="isRegisteredRequestV3">
    <wsdl:part name="parameters" element="recipientv3:isRegistered"/>
  </wsdl:message>
  <wsdl:message name="isRegisteredResponseV3">
    <wsdl:part name="parameters" element="recipientv3:isRegisteredResponse"/>
  </wsdl:message>
  <wsdl:message name="registerRequestV3">
    <wsdl:part name="parameters" element="recipientv3:register"/>
  </wsdl:message>
  <wsdl:message name="registerResponseV3">
    <wsdl:part name="parameters" element="recipientv3:registerResponse"/>
  </wsdl:message>
  <wsdl:message name="deregisterRequestV3">
    <wsdl:part name="parameters" element="recipientv3:deregister"/>
  </wsdl:message>
  <wsdl:message name="deregisterResponseV3">
    <wsdl:part name="parameters" element="recipientv3:deregisterResponse"/>
  </wsdl:message>
  <wsdl:message name="getAccountPreferencesRequestV3">
    <wsdl:part name="parameters" element="recipientv3:getAccountPreferences"/>
  </wsdl:message>
  <wsdl:message name="getAccountPreferencesResponseV3">
    <wsdl:part name="parameters" element="recipientv3:getAccountPreferencesResponse"/>
  </wsdl:message>
  <wsdl:message name="deletePendingAccountRequestRequestV3">
    <wsdl:part name="parameters" element="recipientv3:deletePendingAccountRequest"/>
  </wsdl:message>
  <wsdl:message name="deletePendingAccountRequestResponseV3">
    <wsdl:part name="parameters" element="recipientv3:deletePendingAccountRequestResponse"/>
  </wsdl:message>
  <wsdl:message name="applicationFaultV3">
    <wsdl:part name="fault" element="commonv3:applicationFault"/>
  </wsdl:message>

  <wsdl:portType name="RecipientPort-v2">
    <wsdl:documentation>Port for V2</wsdl:documentation>
    <wsdl:operation name="getAccountPreferences">
      <wsdl:input message="tns:getAccountPreferencesRequest"/>
      <wsdl:output message="tns:getAccountPreferencesResponse"/>
      <wsdl:fault name="fault" message="tns:getAccountPreferencesFault"/>
    </wsdl:operation>
    <wsdl:operation name="getPendingAccountPreferences">
      <wsdl:input message="tns:getPendingAccountPreferencesRequestV2"/>
      <wsdl:output message="tns:getPendingAccountPreferencesResponseV2"/>
      <wsdl:fault name="fault" message="tns:getPendingAccountPreferencesFault"/>
    </wsdl:operation>
    <wsdl:operation name="deletePendingAccountPreferences">
      <wsdl:input message="tns:deletePendingAccountPreferencesRequestV2"/>
      <wsdl:output message="tns:deletePendingAccountPreferencesResponseV2"/>
      <wsdl:fault name="fault" message="tns:deletePendingAccountPreferencesFault"/>
    </wsdl:operation>
    <wsdl:operation name="storeAccountPreferences">
      <wsdl:input message="tns:storeAccountPreferencesRequestV2"/>
      <wsdl:output message="tns:storeAccountPreferencesResponseV2"/>
      <wsdl:fault name="fault" message="tns:storeAccountPreferencesFault"/>
    </wsdl:operation>
    <wsdl:operation name="isReachable">
      <wsdl:input message="tns:isReachableRequest"/>
      <wsdl:output message="tns:isReachableResponse"/>
      <wsdl:fault name="fault" message="tns:isReachableFault"/>
    </wsdl:operation>
    <wsdl:operation name="isRegistered">
      <wsdl:input message="tns:isRegisteredRequest"/>
      <wsdl:output message="tns:isRegisteredResponse"/>
      <wsdl:fault name="fault" message="tns:isRegisteredFault"/>
    </wsdl:operation>
    <wsdl:operation name="register">
      <wsdl:input message="tns:registerRequest"/>
      <wsdl:output message="tns:registerResponse"/>
      <wsdl:fault name="fault" message="tns:registerFault"/>
    </wsdl:operation>
    <wsdl:operation name="deregister">
      <wsdl:input message="tns:deregisterRequest"/>
      <wsdl:output message="tns:deregisterResponse"/>
      <wsdl:fault name="fault" message="tns:deregisterFault"/>
    </wsdl:operation>
    <wsdl:operation name="getPendingAccountRequest">
      <wsdl:input message="tns:getPendingAccountRequestRequest"/>
      <wsdl:output message="tns:getPendingAccountRequestResponse"/>
      <wsdl:fault name="fault" message="tns:getPendingAccountRequestFault"/>
    </wsdl:operation>
    <wsdl:operation name="deletePendingAccountRequest">
      <wsdl:input message="tns:deletePendingAccountRequestRequest"/>
      <wsdl:output message="tns:deletePendingAccountRequestResponse"/>
      <wsdl:fault name="fault" message="tns:deletePendingAccountRequestFault"/>
    </wsdl:operation>
    <wsdl:operation name="changeServiceSupplier">
      <wsdl:input message="tns:changeServiceSupplierRequestV2"/>
      <wsdl:output message="tns:changeServiceSupplierResponseV2"/>
      <wsdl:fault name="fault" message="tns:changeServiceSupplierFault"/>
    </wsdl:operation>
    <wsdl:operation name="getPendingChangeServiceSupplier">
      <wsdl:input message="tns:getPendingChangeServiceSupplierRequestV2"/>
      <wsdl:output message="tns:getPendingChangeServiceSupplierResponseV2"/>
      <wsdl:fault name="fault" message="tns:getPendingChangeServiceSupplierFault"/>
    </wsdl:operation>
    <wsdl:operation name="deletePendingChangeServiceSupplier">
      <wsdl:input message="tns:deletePendingChangeServiceSupplierRequestV2"/>
      <wsdl:output message="tns:deletePendingChangeServiceSupplierResponseV2"/>
      <wsdl:fault name="fault" message="tns:deletePendingChangeServiceSupplierFault"/>
    </wsdl:operation>
    <wsdl:operation name="isAuthorizedSigner">
      <wsdl:input message="tns:isAuthorizedSignerRequest"/>
      <wsdl:output message="tns:isAuthorizedSignerResponse"/>
      <wsdl:fault name="fault" message="tns:isAuthorizedSignerFault"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:portType name="RecipientPort-v3">
    <wsdl:documentation>Port for V3</wsdl:documentation>
    <wsdl:operation name="getAccountPreferences">
      <wsdl:input message="tns:getAccountPreferencesRequestV3"/>
      <wsdl:output message="tns:getAccountPreferencesResponseV3"/>
      <wsdl:fault name="fault" message="tns:applicationFaultV3"/>
    </wsdl:operation>
    <wsdl:operation name="getPendingAccountPreferences">
      <wsdl:input message="tns:getPendingAccountPreferencesRequestV2"/>
      <wsdl:output message="tns:getPendingAccountPreferencesResponseV2"/>
      <wsdl:fault name="fault" message="tns:applicationFaultV3"/>
    </wsdl:operation>
    <wsdl:operation name="deletePendingAccountPreferences">
      <wsdl:input message="tns:deletePendingAccountPreferencesRequestV2"/>
      <wsdl:output message="tns:deletePendingAccountPreferencesResponseV2"/>
      <wsdl:fault name="fault" message="tns:applicationFaultV3"/>
    </wsdl:operation>
    <wsdl:operation name="storeAccountPreferences">
      <wsdl:input message="tns:storeAccountPreferencesRequestV2"/>
      <wsdl:output message="tns:storeAccountPreferencesResponseV2"/>
      <wsdl:fault name="fault" message="tns:applicationFaultV3"/>
    </wsdl:operation>
    <wsdl:operation name="isReachable">
      <wsdl:input message="tns:isReachableRequestV3"/>
      <wsdl:output message="tns:isReachableResponseV3"/>
      <wsdl:fault name="fault" message="tns:applicationFaultV3"/>
    </wsdl:operation>
    <wsdl:operation name="isRegistered">
      <wsdl:input message="tns:isRegisteredRequestV3"/>
      <wsdl:output message="tns:isRegisteredResponseV3"/>
      <wsdl:fault name="fault" message="tns:applicationFaultV3"/>
    </wsdl:operation>
    <wsdl:operation name="register">
      <wsdl:input message="tns:registerRequestV3"/>
      <wsdl:output message="tns:registerResponseV3"/>
      <wsdl:fault name="fault" message="tns:applicationFaultV3"/>
    </wsdl:operation>
    <wsdl:operation name="deregister">
      <wsdl:input message="tns:deregisterRequestV3"/>
      <wsdl:output message="tns:deregisterResponseV3"/>
      <wsdl:fault name="fault" message="tns:applicationFaultV3"/>
    </wsdl:operation>
    <wsdl:operation name="getPendingAccountRequest">
      <wsdl:input message="tns:getPendingAccountRequestRequestV3"/>
      <wsdl:output message="tns:getPendingAccountRequestResponseV3"/>
      <wsdl:fault name="fault" message="tns:applicationFaultV3"/>
    </wsdl:operation>
    <wsdl:operation name="deletePendingAccountRequest">
      <wsdl:input message="tns:deletePendingAccountRequestRequestV3"/>
      <wsdl:output message="tns:deletePendingAccountRequestResponseV3"/>
      <wsdl:fault name="fault" message="tns:applicationFaultV3"/>
    </wsdl:operation>
    <wsdl:operation name="changeServiceSupplier">
      <wsdl:input message="tns:changeServiceSupplierRequestV2"/>
      <wsdl:output message="tns:changeServiceSupplierResponseV2"/>
      <wsdl:fault name="fault" message="tns:applicationFaultV3"/>
    </wsdl:operation>
    <wsdl:operation name="getPendingChangeServiceSupplier">
      <wsdl:input message="tns:getPendingChangeServiceSupplierRequestV2"/>
      <wsdl:output message="tns:getPendingChangeServiceSupplierResponseV2"/>
      <wsdl:fault name="fault" message="tns:applicationFaultV3"/>
    </wsdl:operation>
    <wsdl:operation name="deletePendingChangeServiceSupplier">
      <wsdl:input message="tns:deletePendingChangeServiceSupplierRequestV2"/>
      <wsdl:output message="tns:deletePendingChangeServiceSupplierResponseV2"/>
      <wsdl:fault name="fault" message="tns:applicationFaultV3"/>
    </wsdl:operation>
    <wsdl:operation name="isAuthorizedSigner">
      <wsdl:input message="tns:isAuthorizedSignerRequest"/>
      <wsdl:output message="tns:isAuthorizedSignerResponse"/>
      <wsdl:fault name="fault" message="tns:applicationFaultV3"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="RecipientBinding-v2" type="tns:RecipientPort-v2">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAccountPreferences">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPendingAccountPreferences">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deletePendingAccountPreferences">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="storeAccountPreferences">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isReachable">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isRegistered">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="register">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deregister">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPendingAccountRequest">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deletePendingAccountRequest">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="changeServiceSupplier">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPendingChangeServiceSupplier">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deletePendingChangeServiceSupplier">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isAuthorizedSigner">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="RecipientBinding-v3" type="tns:RecipientPort-v3">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAccountPreferences">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPendingAccountPreferences">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deletePendingAccountPreferences">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="storeAccountPreferences">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isReachable">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isRegistered">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="register">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deregister">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPendingAccountRequest">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deletePendingAccountRequest">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="changeServiceSupplier">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPendingChangeServiceSupplier">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deletePendingChangeServiceSupplier">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isAuthorizedSigner">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="Recipient">
    <wsdl:port name="RecipientPort-v2" binding="tns:RecipientBinding-v2">
      <wsdl:documentation>Version 2 of the service</wsdl:documentation>
      <soap:address location="http://minameddelanden.gov.se/Recipient/v2"/>
    </wsdl:port>
    <wsdl:port name="RecipientPort-v3" binding="tns:RecipientBinding-v3">
      <wsdl:documentation>Version 3 of the service</wsdl:documentation>
      <soap:address location="http://minameddelanden.gov.se/Recipient/v3"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
