src/main/resources/wsdl/Message.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
  xmlns:tns="http://minameddelanden.gov.se/Message"
  xmlns:message2="http://minameddelanden.gov.se/schema/Message/v2"
  xmlns:message3="http://minameddelanden.gov.se/schema/Message/v3"
  xmlns:commonv3="http://minameddelanden.gov.se/schema/Common/v3"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  name="Message"
  targetNamespace="http://minameddelanden.gov.se/Message">

  <wsdl:documentation>Version 3.0</wsdl:documentation>

  <wsdl:types>
    <xsd:schema
      xmlns:m="http://minameddelanden.gov.se/schema/Message"
      xmlns:r="http://minameddelanden.gov.se/schema/Recipient"
      xmlns:c="http://minameddelanden.gov.se/schema/Common"
      targetNamespace="http://minameddelanden.gov.se/Message">

      <xsd:import schemaLocation="schema/Recipient.xsd" namespace="http://minameddelanden.gov.se/schema/Recipient"/>
      <xsd:import schemaLocation="schema/Message.xsd" namespace="http://minameddelanden.gov.se/schema/Message"/>
      <xsd:import schemaLocation="schema/Common.xsd" namespace="http://minameddelanden.gov.se/schema/Common"/>

      <xsd:element name="distributeSecureResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="distributeSecureFault" type="c:ExceptionInformation"/>
      <xsd:element name="checkDistributionStatus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="arg0" type="r:RecipientId" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="arg1" minOccurs="1" maxOccurs="1">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="50"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="checkDistributionStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return" type="m:DistributionStatus" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="checkDistributionStatusFault" type="c:ExceptionInformation"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://minameddelanden.gov.se/schema/Message/v2" schemaLocation="schema/v2/Message.xsd"/>
      <xsd:import namespace="http://minameddelanden.gov.se/schema/Message/v3" schemaLocation="schema/v3/Message.xsd"/>
      <xsd:import namespace="http://minameddelanden.gov.se/schema/Common/v3" schemaLocation="schema/v3/Common.xsd"/>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="distributeSecureRequestV2">
    <wsdl:part name="parameters" element="message2:distributeSecure"/>
  </wsdl:message>
  <wsdl:message name="distributeSecureRequestV3">
    <wsdl:part name="parameters" element="message3:distributeSecure"/>
  </wsdl:message>
  <wsdl:message name="distributeSecureResponse">
    <wsdl:part name="parameters" element="tns:distributeSecureResponse"/>
  </wsdl:message>
  <wsdl:message name="distributeSecureResponseV3">
    <wsdl:part name="parameters" element="message3:distributeSecureResponse"/>
  </wsdl:message>
  <wsdl:message name="distributeSecureFault">
    <wsdl:part name="fault" element="tns:distributeSecureFault"/>
  </wsdl:message>
  <wsdl:message name="checkDistributionStatusRequest">
    <wsdl:part name="parameters" element="tns:checkDistributionStatus"/>
  </wsdl:message>
  <wsdl:message name="checkDistributionStatusRequestV3">
    <wsdl:part name="parameters" element="message3:checkDistributionStatus"/>
  </wsdl:message>
  <wsdl:message name="checkDistributionStatusResponse">
    <wsdl:part name="parameters" element="tns:checkDistributionStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="checkDistributionStatusResponseV3">
    <wsdl:part name="parameters" element="message3:checkDistributionStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="checkDistributionStatusFault">
    <wsdl:part name="fault" element="tns:checkDistributionStatusFault"/>
  </wsdl:message>
  <wsdl:message name="applicationFaultV3">
    <wsdl:part name="fault" element="commonv3:applicationFault"/>
  </wsdl:message>

  <wsdl:portType name="MessagePort-v2">
    <wsdl:operation name="distributeSecure">
      <wsdl:input message="tns:distributeSecureRequestV2"/>
      <wsdl:output message="tns:distributeSecureResponse"/>
      <wsdl:fault name="fault" message="tns:distributeSecureFault"/>
    </wsdl:operation>
    <wsdl:operation name="checkDistributionStatus">
      <wsdl:input message="tns:checkDistributionStatusRequest"/>
      <wsdl:output message="tns:checkDistributionStatusResponse"/>
      <wsdl:fault name="fault" message="tns:checkDistributionStatusFault"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:portType name="MessagePort-v3">
    <wsdl:operation name="distributeSecure">
      <wsdl:input message="tns:distributeSecureRequestV3"/>
      <wsdl:output message="tns:distributeSecureResponseV3"/>
      <wsdl:fault name="fault" message="tns:applicationFaultV3"/>
    </wsdl:operation>
    <wsdl:operation name="checkDistributionStatus">
      <wsdl:input message="tns:checkDistributionStatusRequestV3"/>
      <wsdl:output message="tns:checkDistributionStatusResponseV3"/>
      <wsdl:fault name="fault" message="tns:applicationFaultV3"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="MessageBinding-v2" type="tns:MessagePort-v2">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="distributeSecure">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="checkDistributionStatus">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="MessageBinding-v3" type="tns:MessagePort-v3">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="distributeSecure">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="checkDistributionStatus">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="Message">
    <wsdl:port name="MessagePort-v2" binding="tns:MessageBinding-v2">
      <wsdl:documentation>Version 2 of the service</wsdl:documentation>
      <soap:address location="http://minameddelanden.gov.se/MessageV2"/>
    </wsdl:port>
    <wsdl:port name="MessagePort-v3" binding="tns:MessageBinding-v3">
      <wsdl:documentation>Version 3 of the service</wsdl:documentation>
      <soap:address location="http://minameddelanden.gov.se/Message/v3"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
